@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Poppins:wght@300;400;600;700&display=swap');

.product-specs-title{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 3vh;
    line-height: 4vh;
    text-transform: uppercase;
    color: #007DFB;
    margin-top: 13vh;
    margin-left: 41vw;
}

.specs-img{
    margin-left: 31vw;
    max-width: 38vw;
}

.pagination {
    margin-left: 42vw;
    display: flex;
    width:267px;
    list-style-type: none;
    align-items: center;
    justify-content: space-between;
    padding: 0px;

    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;

}

.pagination :hover{
    cursor: pointer;
}

.chosen-spec {
    text-align: center;
    border: 1px solid #007DFB;
    border-radius: 28px;
    width: 28px
}

.slider-indicators{
    position: absolute;
    visibility: hidden;
}

.to-right{
    position: absolute;
    visibility: hidden;
    right: 4vw;
    top: 90vw;
    width: 40px;
}

@media screen and (max-width:1023px){
    .product-specs-title{
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 3vh;
        line-height: 4vh;
        text-transform: uppercase;
        color: #007DFB;
        margin-top: 15vh;
        text-align: center;
        margin-left: 0px;
    }

    .specs-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;
    }

    .pagination {
        margin-left: 0px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 767px) {
    .product-specs-title{
        margin-top: 25vh;
    }

    .specs-img{
        display: block;
        max-width: 100%;
    }

    .pagination{
        position: absolute;
        visibility: hidden;
    }

    .slider-indicators {
        visibility: visible;
        position: relative;
        display: flex;
        justify-content: space-around;
        justify-self: center;
        color: #98adfc;
        font-size: 5vw;
        width: 30vw;
        margin-right: auto;
        margin-left: auto;
    }
    
    .current {
        color:#5072f0;
    }
    
    .to-right{
        visibility: visible;
        position: absolute;
        right: 3vw;
        top: 86vw;
        width: 40px;
    }
    
}
